#page .container .container-fluid .row .sidebar {
    height: 20vh;
    background-color: #741b1b;
    padding: 1rem;
    margin-bottom: 1rem;
    border-right: 2px solid #ddd;
}
#page .container .container-fluid .row .sidebar a {
    display: block;
    padding: 10px;
    font-weight: bold;
    color:white;
    text-decoration: none;
}

#page .container .container-fluid .row .sidebar a:hover {
    background: white;
    color: #741b1b;
    border-radius: 5px;
}


